<br>
<br>
<br>
  <% @candidatures.each do |candidature|  %>
    <div class="notification">
      <%= cl_image_tag @current_user.avatar, class: "avatar-large" %>
      <div class="notification-content">
        <p> <strong> Mission: <%= candidature.mission.title %> </strong> </p>
        <p> Company: <%= candidature.mission.company %> </p>
        <p> <small> contact <%= candidature.mission.user.last_name %> <%= candidature.mission.user.first_name %> </small></p>
      </div>
      <div class="notification-actions">
        <a href="#" class="btn btn-success">Validate</a>
        <a href="#" class="btn btn-danger">Decline</a>
      </div>
    </div>
  <% end %>
</div>
