<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky" id="navbar-white">
    <a class="navbar-brand" href="/">
        <%= image_tag "logo-color.png" %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <div class="nav-center">
                <a href="<%= missions_path %>">Find a mission</a>
                <a href="<%= new_mission_path %>">Find a freelance</a>
                <% if current_user.nil? %>
                  <a class="btn-blue" href="<%= new_user_session_path %>">Login</a>
                <% else %>
                  <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= current_user.avatar %>" />
                <% end %>
            </div>
        </ul>
    </div>
</div>
