<%= simple_form_for(@mission) do |f| %>

  <% if @mission.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @mission.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :user_id %>      <!-- a modifier avec le current user en attente de pundit -->
    <%= f.input :company %>
    <%= f.input :description %>
    <%= f.input :headquarter %>
    <%= f.input :logo %>
    <%= f.input :num_of_days %>
    <%= f.input :daily_price %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
