<div class="form-blue">
  <%= simple_form_for(@mission) do |f| %>

    <% if @mission.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @mission.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-inputs">
      <%= f.input :title %>
      <%= f.input :company %>
      <%= f.input :description, as: :text, label: "Describe the mission (40 characters minimum)" %>
      <%= f.input :headquarter,label:"Headquarter location for this mission" %>
      <%= f.input :num_of_days, label:"How many days?" %>
      <%= f.input :daily_price, label:"Price per day" %>
      <%= f.input :photo, label:"Download the company logo" %>
      <%= f.input :photo_cache, as: :hidden %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, value: "Let's go !" %>
    </div>
  <% end %>
</div>



