<div class="container">
  <div class="candidatures-dashboard">

    <div class="validates-candidatures">
      <div class="card-mission">
        <div class="card-mission-img">
          <%= cl_image_tag @mission.photo, class: "logo-sm" %>
        </div>
        <div class="card-mission-title">
          <h4> <%= @mission.title %> </h4>
        </div>
        <div class="card-mission-info">
          <p> <%= @mission.daily_price %> $ </p>
          <p> <%= @mission.num_of_days %> days </p>
        </div>
      </div>

     <div class="ok-candidatures">
       <% @candidatures.each do |candidature|  %>
         <div class="ok-candidature">
           <%= cl_image_tag candidature.user.avatar, class: "avatar" %>
           <div class="candidature-content">
              <p> Applicant: <%= candidature.user.first_name %> <%= candidature.user.last_name %>  </p>
              <p> Dates: <%= candidature.start_date %> - <%= candidature.end_date %> </p>
           </div>
           <div class="candidature-actions">
             <i class="fas fa-check-circle small"></i>
           </div>
         </div>
       <% end %>
    </div>

    </div>


    <div class="pending-candidatures">
       <% @candidatures.each do |candidature|  %>
         <div class="candidature">
           <%= cl_image_tag candidature.user.avatar, class: "avatar-large" %>
           <div class="candidature-content">
             <p> Applicant: <strong><%= candidature.user.first_name %> <%= candidature.user.last_name %></strong>  <a href=" <%= candidature.user %>", target="_blank"><i class="fab fa-linkedin"></i></a></p>
             <p> <small> <%= candidature.cover_letter.truncate(40, separator: /\s/) %> </small></p>
             <p> <small> Availabilities: <%= candidature.start_date %> - <%= candidature.end_date %> </small> </p>
           </div>
           <div class="candidature-actions">
             <a href="#" ><i class="fas fa-check-circle"></i></a>
             <a href="#" ><i class="fas fa-times-circle"></i></a>
           </div>
         </div>
       <% end %>
    </div>


  </div>
</div>
