<div class="container">
    <div class="mission">
      <div class="card-show">

        <div class="card-mission-img">
          <%= cl_image_tag @mission.photo, class: "logo-lg" %>
        </div>
        <div class="card-mission-title-description">
          <h2> <%= @mission.title %> </h2>
        </div>
        <div class="card-mission-info">
          <p> <%= @mission.description %> </p>
        </div>
      </div>

    <div class="card-show-gauche">
      <h3>About the mission:</h3>
        <div class="card-show-gauche-info">
          <div class="info">
            <i class="fas fa-money-bill-alt"></i> <%= @mission.daily_price %> $/day
          </div>
          <div class="info">
            <i class="fas fa-calendar-alt"></i> <%= @mission.num_of_days %> days
          </div>
          <div class="info">
            <i class="fas fa-map-marker-alt"> </i> Headquarter: <%= @mission.headquarter %>
          </div>
          <div class="info">
            <i class="fas fa-user"></i> Recruiter name: <%= @mission.user.first_name %> <%= @mission.user.last_name %>
          </div>
        </div>
      </div>
    <%= link_to "Apply", new_mission_candidature_path(@mission), class: "btn-blue-padding" %>
    </div>
</div>
